.footer {
  text-align: center;
}

.footer #logo {
  margin-top: 25px;
  margin-bottom: 5px;
  width: 300px;
}

.footer #github-logo {
  margin-top: 10px;
  width: 40px;
}

.link-button {
  display: block;
  color: white;
  text-decoration: none;
  padding: .5em 1em;
  background-color: #85D0D0;
}
